@page
@using RazorPagesEventMakerIC.Interfaces
@model RazorPagesEventMakerIC.Pages.Events.IndexModel
@inject IRepository repository
@{
    ViewData["Title"] = "Index Events";
}
<div>
    <form method="post">
        <p>
            Search:
            <input type="text" asp-for="@Model.Criteria" />
            <input asp-for="@Model.DateFrom"  />
            <input asp-for="@Model.DateTo"  />
            <input type="submit" value="Filter" />
        </p>
    </form>
</div>


<h1>List of events</h1>

<p>
    <a asp-page="CreateEvent">Create New</a>
</p>


<p>Antal elementer i Events: @Model.Events.Count</p>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Place</th>
            <th>DateTime</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Events)
        {
            <tr>
                <td> @item.Id</td>
                <td> @item.Name</td>
                <td> @item.Description</td>
                <td> @item.City</td>
                <td> @item.DateTime</td>
                <td><a asp-page="EditEvent" asp-route-id="@item.Id">Edit</a></td>
            </tr>

        }
    </tbody>
</table>


<h2>Alle events i repository</h2>

<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Place</th>
        <th>DateTime</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in repository.GetAllEvents())
    {
        <tr>
            <td> @item.Id</td>
            <td> @item.Name</td>
            <td> @item.Description</td>
            <td> @item.City</td>
            <td> @item.DateTime</td>
            <td><a asp-page="EditEvent" asp-route-id="@item.Id">Edit</a></td>
        </tr>

    }
    </tbody>
</table>

